.footer {
  padding: 10px 0px !important;
  margin-top: 7rem;
  @media (min-width: 600px) {
    margin-top: 2rem;
  }
  @extend .navbar;

  &__container {
    flex-direction: column;
    gap: 5px;
    @media (min-width: 600px) {
      flex-direction: row;
    }
  }

  &__item {
    color: getColor(dark-grey);
  }
}
