.main {
  &__container {
    justify-content: center;
    gap: 28px;
    display: flex;
    flex-direction: column;
  }
  &__header {
    text-align: center;
    padding-top: 50px;
  }
}

.squares {
  padding: 10px;
  gap: 28px;
  margin: auto;
  justify-content: center;
  &__item {
    width: 264px;
    height: 264px;
    max-width: 350px;
    max-height: 350px;
    border-radius: 15px;
    background-color: getColor(primary-color);
  }
  &__item--pink {
    @extend .squares__item;
    background-color: getColor(dark-pink);
    border: 2px solid getColor(white);
  }
  &__item--white {
    @extend .squares__item;
    background-color: getColor(white);
    border: 2px solid getColor(dark-pink);
  }
}
